nav.navigation-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--bg-500);
    padding: 0.5rem;
    /* box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3); */
}