:root{
    --bg-400: #353F48;
    --bg-500: #1B252F;
    --pink-400: #F9A697;
    --pink-500: #F95773;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/Poppins-regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: var(--bg-500);
    width: 100%;
    font-family: "Poppins";
}

body div#root{
    height: 100%;
    /* color: #40e0d0; */
}